body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: linear-gradient(to bottom, #333, #444);
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.header-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #ff6347;
}

section#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff;
}

.about-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.about-content img {
    width: 40%;
    max-width: 300px;
    border-radius: 50%;
    margin-right: 50px;
}

.about-text {
    flex-grow: 1;
}

.about-text h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
